.header {
  padding: 20px 20px;
  background-color: rgb(80, 83, 83);
}

.headerNav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headerList {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.active {
  color: rgba(36, 141, 228, 0.753);
}
